@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ef7a46;
  --primary-light: #f1ecf2;
  --primary-light-0: rgba(235, 102, 43, 0.38);
  --primary-light-1: #fef7f4;
  --primary-light-2: rgba(235, 102, 43, 0.1);
  --primary-light-3: rgba(235, 102, 43, 0.04);
  --primary-light-4: rgba(235, 102, 43, 0.6);
  --secondary: #006ce4;

  --color-dark-0: #717171;
  --color-dark-1: #05073c;
  --color-dark-2: #424854;
  --color-dark-3: #2c333f;

  --color-green-0: #eff7f1;
  --color-green-1: #63b06f;

  --color-red-0: #ffe5e5;
  --color-red-1: #ff0000;

  --yellow-1: #ffa800;

  --border: #e9ecef;
  --background: #fafafa;
  --transparent: #ffffff00;

  --shadow: rgba(235, 102, 43, 0.16);
}

html,
body {
  overflow-x: clip;
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.recharts-responsive-container {
  height: 250px !important;
}
.sticky-header {
  background: white;
  border-bottom: 1px solid var(--border);
  animation: slideDown 1s forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

input[type="checkbox"]:checked + div {
  background-color: var(--primary);
  border-color: var(--primary);
}
input[type="checkbox"]:checked + div > svg {
  transform: scale(1.5);
}
.sliderTrack {
  background-color: rgba(235, 102, 43, 0.38);
}

*::selection {
  background-color: var(--primary);
  color: white;
}

.line {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.itineraryGrid:not(:last-child) .dashedLine::before {
  content: "";
  position: absolute;
  border-right: 1px var(--primary) dashed;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  bottom: -66px;
}

.bookingsCard > article:not(:last-child) {
  border-bottom: 1px solid var(--border);
}
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.showScrollbar::-webkit-scrollbar {
  width: 5px;
}

.horizontalScrollbar::-webkit-scrollbar {
  height: 5px;
}

.horizontalScrollbar::-webkit-scrollbar-track,
.showScrollbar::-webkit-scrollbar-track {
  background-color: var(--primary-light);
}
.horizontalScrollbar::-webkit-scrollbar-thumb,
.showScrollbar::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

#dotMenu > *:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

.progress-bar-short,
.progress-bar-long {
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  animation-delay: 200ms;
  will-change: left, right;
}

.progress-bar-short {
  animation-name: indeterminate-short-ltr;
}

.progress-bar-long {
  animation-name: indeterminate-ltr;
}

@keyframes indeterminate-ltr {
  0% {
    left: -90%;
    right: 100%;
  }
  60% {
    left: -90%;
    right: 100%;
  }
  100% {
    left: 100%;
    right: -35%;
  }
}

@keyframes indeterminate-short-ltr {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
